{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% for type in types %}
        <a href="{{ path('type_category', {'slug': type.slug}) }}">{{ type.name }}</a>
    {% endfor %}
{% endblock %}
